    
/maes-api/node_modules
/maes-api/public/hot
/maes-api/public/storage
/maes-api/storage/*.key
/maes-api/vendor
/maes-api/.env
/maes-api/.phpunit.result.cache
/maes-api/Homestead.json
/maes-api/Homestead.yaml
/maes-api/npm-debug.log
/maes-api/yarn-error.log

.DS_STORE

/maes-client/dist/
/maes-client/bazel-out
/maes-client/integration/bazel/bazel-*
/maes-client/e2e_test.*
/maes-client/node_modules
/maes-client/tools/gulp-tasks/cldr/cldr-data/

# Include when developing application packages.
/maes-client/pubspec.lock
/maes-client/.c9
/maes-client/.idea/
/maes-client/.settings/
/maes-client/.vscode/launch.json
/maes-client/.vscode/settings.json
/maes-client/*.swo
/maes-client/modules/.settings
/maes-client/modules/.vscode

# Don't check in secret files
/maes-client/*secret.js

# Ignore npm/yarn debug log
/maes-client/npm-debug.log
/maes-client/yarn-error.log

# build-analytics
/maes-client/.build-analytics

# rollup-test output
/maes-client/modules/rollup-test/dist/

# User specific bazel settings
/maes-client/.bazelrc.user


/maes-barberia-client/dist/
/maes-barberia-client/bazel-out
/maes-barberia-client/integration/bazel/bazel-*
/maes-barberia-client/e2e_test.*
/maes-barberia-client/node_modules
/maes-barberia-client/tools/gulp-tasks/cldr/cldr-data/

# Include when developing application packages.
/maes-barberia-client/pubspec.lock
/maes-barberia-client/.c9
/maes-barberia-client/.idea/
/maes-barberia-client/.settings/
/maes-barberia-client/.vscode/launch.json
/maes-barberia-client/.vscode/settings.json
/maes-barberia-client/*.swo
/maes-barberia-client/modules/.settings
/maes-barberia-client/modules/.vscode

# Don't check in secret files
/maes-barberia-client/*secret.js

# Ignore npm/yarn debug log
/maes-barberia-client/npm-debug.log
/maes-barberia-client/yarn-error.log

# build-analytics
/maes-barberia-client/.build-analytics

# rollup-test output
/maes-barberia-client/modules/rollup-test/dist/

# User specific bazel settings
/maes-barberia-client/.bazelrc.user