<h1 mat-dialog-title class="title">Agregar nuevo servicio</h1>
<div mat-dialog-content>
  <form [formGroup]="myForm" class="example-form">
    <mat-form-field >
      <input matInput formControlName="name" placeholder="Nombre">
    </mat-form-field>
  
    <mat-form-field>
      <input matInput formControlName="service_time" placeholder="Tiempo del servicio" value="00:00:00">
    </mat-form-field>

    <mat-form-field>
      <input matInput formControlName="price" appNumberOnly placeholder="Precio">
    </mat-form-field>
  </form>
</div>
<div mat-dialog-actions>
  <button mat-button (click)="cancel()" class="button">Cancelar</button>
  <button mat-button (click)="create()" class="button">Crear</button>
</div>