<app-menu [role]="role"></app-menu>

<div>
  <h1 class="title">Administradores <i class="fas fa-plus add" (click)="add()"></i></h1> 
</div>

<div class="container table">
  <mat-table class="lessons-table mat-elevation-z8" [dataSource]="adminData" matSort>
    
    <ng-container matColumnDef="user_id">
      <mat-header-cell mat-header-cell *matHeaderCellDef mat-sort-header>Cédula</mat-header-cell>
      <mat-cell mat-cell *matCellDef="let admin">{{admin.user_id}}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="name">
      <mat-header-cell mat-header-cell *matHeaderCellDef mat-sort-header>Nombre</mat-header-cell>
      <mat-cell mat-cell *matCellDef="let admin">{{admin.name}}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="last_name">
      <mat-header-cell mat-header-cell *matHeaderCellDef mat-sort-header>Apellido</mat-header-cell>
      <mat-cell mat-cell *matCellDef="let admin">{{admin.last_name}}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="email">
      <mat-header-cell mat-header-cell *matHeaderCellDef mat-sort-header>Correo</mat-header-cell>
      <mat-cell mat-cell *matCellDef="let admin">{{admin.email}}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="telephone_number">
      <mat-header-cell mat-header-cell *matHeaderCellDef mat-sort-header>Teléfono</mat-header-cell>
      <mat-cell mat-cell *matCellDef="let admin">{{admin.telephone_number}}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="actions">
      <mat-header-cell mat-header-cell *matHeaderCellDef mat-sort-header>Acciones</mat-header-cell>
      <mat-cell mat-cell *matCellDef="let admin">
        <i class="far fa-edit edit" (click)="edit(admin)"></i>
        <i *ngIf="user && admin.id !== user.id" class="fas fa-trash-alt delete" (click)="delete(admin)"></i>
      </mat-cell>
    </ng-container>


    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
  </mat-table>
  <mat-paginator class="paginator" [pageSizeOptions]="[10, 25, 100]"></mat-paginator>
</div>