.edit {
    color: darkgreen;
    font-size: 20px;
}

.delete {
    margin-left: 10px;
    color: darkred;
    font-size: 20px;
}

.table {
    margin-top: 40px;
}

.title {
    margin-top: 15px;
    text-align: center;
}

.add {
    float: right;
    font-size: 40px;
    color: red;
    margin-right: 30px;
    margin-top: 10px
}