<h1 mat-dialog-title class="title">Agregar nuevo cliente</h1>
<div mat-dialog-content>
  <form [formGroup]="myForm" class="example-form">
    <mat-form-field >
      <input matInput formControlName="user_id" appNumberOnly placeholder="Cédula" maxlength="9">
    </mat-form-field>

    <mat-form-field >
      <input matInput formControlName="name" placeholder="Nombre">
    </mat-form-field>

    <mat-form-field >
      <input matInput formControlName="last_name" placeholder="Apellido">
    </mat-form-field>

    <mat-form-field >
      <input matInput formControlName="second_last_name" placeholder="Segundo Apellido">
    </mat-form-field>


    <mat-form-field >
      <input matInput formControlName="telephone_number" appNumberOnly placeholder="Telefono" maxlength="8">
    </mat-form-field>

    <mat-form-field >
      <input matInput formControlName="email" placeholder="Correo">
    </mat-form-field>
  
    <mat-form-field >
      <input matInput type="password" formControlName="password" placeholder="Contraseña">
    </mat-form-field>
    
  </form>
</div>
<div mat-dialog-actions>
  <button mat-button (click)="cancel()" class="button">Cancelar</button>
  <button mat-button (click)="create()" class="button">Crear</button>
</div>