<app-menu [role]="role"></app-menu>
<div class="main-content" *ngIf="user">
  <div class="container">
      <div class="row">
          <div class="col-md-12">
              <div class="card">
                  <div class="card-header card-header-danger">
                      <p class="card-category">Edita tu perfil</p>
                  </div>
                  <div class="card-body">
                      <form [formGroup]="myForm">
                          <div class="col-md-6">
                            <div class="col-md-12">
                                <mat-form-field class="example-full-width">
                                    <input matInput formControlName="user_id" placeholder="Cédula" appNumberOnlytype>
                                </mat-form-field>
                            </div>
                              <div class="col-md-12">
                                <mat-form-field class="example-full-width">
                                  <input matInput formControlName="name" placeholder="Nombre" type="text">
                                </mat-form-field>
                              </div>
                              <div class="col-md-12">
                                <mat-form-field class="example-full-width">
                                    <input matInput formControlName="last_name" placeholder="Primer apellido" type="text">
                                </mat-form-field>
                            </div>
                            <div class="col-md-12">
                                <mat-form-field class="example-full-width">
                                    <input matInput formControlName="second_last_name" placeholder="Segundo apellido" type="text">
                                </mat-form-field>
                            </div>
                          </div>
                          <div class="col-md-6">
                            <div class="col-md-12">
                                <mat-form-field class="example-full-width">
                                    <input matInput type="email" formControlName="email" placeholder="Correo">
                                </mat-form-field>
                            </div>
                            <div class="col-md-12">
                                <mat-form-field class="example-full-width">
                                    <input matInput formControlName="telephone_number" appNumberOnly placeholder="Teléfono" maxlength="8">
                                </mat-form-field>
                            </div>
                            <div class="col-md-12">
                                <mat-form-field class="example-full-width">
                                    <input matInput type="password" formControlName="password" placeholder="Contraseña">
                                </mat-form-field>
                            </div>
                        </div>
                      </form>
                        <button mat-raised-button type="submit" class="btn btn-success pull-right" (click)="update()">Actualizar</button>
                        <div class="clearfix"></div>
                  </div>
              </div>
          </div>
      </div>
  </div>
</div>
  