<app-menu [role]="role"></app-menu>

<div *ngIf="role && role.name === 'admin'">
  <mat-card class="card">
    <mat-card-header>
      <div mat-card-avatar class="example-header-image"></div>
      <mat-card-title>Clientes</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <a class="opcion " routerLink="/clients" routerLinkActive="active" mat-menu-item>Ver Clientes</a>
    </mat-card-content>
    <mat-card-actions>

    </mat-card-actions>
  </mat-card>

  <mat-card class="card">
    <mat-card-header>
      <div mat-card-avatar class="example-header-image"></div>
      <mat-card-title>Barberos</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <a class="opcion " routerLink="/barbers" routerLinkActive="active" mat-menu-item>Administrar Barberos</a>
    </mat-card-content>
    <mat-card-actions>

    </mat-card-actions>
  </mat-card>

  <mat-card class="card">
    <mat-card-header>
      <div mat-card-avatar class="example-header-image"></div>
      <mat-card-title>Administratores</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <a class="opcion " routerLink="/administrators" routerLinkActive="active" mat-menu-item>Administrar</a>
    </mat-card-content>
    <mat-card-actions>
    </mat-card-actions>
  </mat-card>

  <mat-card class="card">
    <mat-card-header>
      <div mat-card-avatar class="example-header-image"></div>
      <mat-card-title>Productos</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <a class="opcion " routerLink="/products" routerLinkActive="active" mat-menu-item>Ver Inventario</a>
      <div class="storage" *ngIf="storage">
        <mat-chip-list>
          <mat-chip color="warn" routerLink="/storage" routerLinkActive="active" selected>{{storage}} productos requieren de su atención</mat-chip>
        </mat-chip-list>
      </div>
    </mat-card-content>
    <mat-card-actions>
    </mat-card-actions>
  </mat-card>


  <mat-card class="card">
    <mat-card-header>
      <div mat-card-avatar class="example-header-image"></div>
      <mat-card-title>Servicios</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <a class="opcion " routerLink="/services" routerLinkActive="active" mat-menu-item>Ver Servicios</a>
    </mat-card-content>
    <mat-card-actions>

    </mat-card-actions>
  </mat-card>

  <mat-card class="card">
    <mat-card-header>
      <div mat-card-avatar class="example-header-image"></div>
      <mat-card-title>Galería del Carrusel</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <a class="opcion " routerLink="/carousel" routerLinkActive="active" mat-menu-item>Administrar</a>
    </mat-card-content>
    <mat-card-actions>
    </mat-card-actions>
  </mat-card>
</div>

<div *ngIf="role && role.name === 'barber'">
  <mat-card class="card">
    <mat-card-header>
      <div mat-card-avatar class="example-header-image"></div>
      <mat-card-title>Productos</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <a class="opcion " routerLink="/all-reservations" routerLinkActive="active" mat-menu-item>Ver Reservas</a>
    </mat-card-content>
    <mat-card-actions>
    </mat-card-actions>
  </mat-card>


  <mat-card class="card">
    <mat-card-header>
      <div mat-card-avatar class="example-header-image"></div>
      <mat-card-title>Servicios</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <a class="opcion " routerLink="/earnings" routerLinkActive="active" mat-menu-item>Ver Ganancias</a>
    </mat-card-content>
    <mat-card-actions>
    </mat-card-actions>
  </mat-card>

  <mat-card class="card">
    <mat-card-header>
      <div mat-card-avatar class="example-header-image"></div>
      <mat-card-title>Clientes</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <a class="opcion " routerLink="/all-appointments" routerLinkActive="active" mat-menu-item>Ver Citas</a>
    </mat-card-content>
    <mat-card-actions>
    </mat-card-actions>
  </mat-card>

  <mat-card class="card">
    <mat-card-header>
      <div mat-card-avatar class="example-header-image"></div>
      <mat-card-title>Horarios</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <a class="opcion " routerLink="/barber-schedule" routerLinkActive="active" mat-menu-item>Administrar</a>
    </mat-card-content>
    <mat-card-actions>
    </mat-card-actions>
  </mat-card>

  
</div>


<div *ngIf="role && role.name === 'client'">
  <mat-card class="card">
    <mat-card-header>
      <div mat-card-avatar class="example-header-image"></div>
      <mat-card-title>Productos</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <a class="opcion " routerLink="/reservation" routerLinkActive="active" mat-menu-item>Reservar productos</a>
    </mat-card-content>
    <mat-card-actions>
    </mat-card-actions>
  </mat-card>

  <mat-card class="card">
    <mat-card-header>
      <div mat-card-avatar class="example-header-image"></div>
      <mat-card-title>Reservas</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <a class="opcion " routerLink="/my-reservations" routerLinkActive="active" mat-menu-item>Ver mis reservas</a>
    </mat-card-content>
    <mat-card-actions>
    </mat-card-actions>
  </mat-card>

  <mat-card class="card">
    <mat-card-header>
      <div mat-card-avatar class="example-header-image"></div>
      <mat-card-title>Nueva Cita</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <a class="opcion " routerLink="/appointments" routerLinkActive="active" mat-menu-item>Agendar Cita</a>
    </mat-card-content>
    <mat-card-actions>
    </mat-card-actions>
  </mat-card>

  <mat-card class="card">
    <mat-card-header>
      <div mat-card-avatar class="example-header-image"></div>
      <mat-card-title>Ver citas</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <a class="opcion " routerLink="/my-appointments" routerLinkActive="active" mat-menu-item>Todas mis citas</a>
    </mat-card-content>
    <mat-card-actions>
    </mat-card-actions>
  </mat-card>
</div>