<nav class="navbar navbar-expand-lg navbar-dark ftco_navbar bg-dark ftco-navbar-light" id="ftco-navbar">
  <div class="container">
    <img class="logo" src="assets/images/logo.jpg" alt="Italian Trulli">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#ftco-nav" aria-controls="ftco-nav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="oi oi-menu"></span> Menu
    </button>

    <div class="collapse navbar-collapse" id="ftco-nav">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item"><a href="/home" class="nav-link">Inicio</a></li>
        <li class="nav-item"><a href="/appointments" class="nav-link">Citas</a></li>
        <li class="nav-item"><a href="/services" class="nav-link">Servicios</a></li>
        <li class="nav-item"><a href="/products" class="nav-link">Productos</a></li>
        <li class="nav-item"><a href="/contact-us" class="nav-link">Contáctenos</a></li>
        <li class="nav-item"><a href="/doubts" class="nav-link">Dudas y Consultas</a></li>
        <li class="nav-item"><a href="/login" class="nav-link">Iniciar Sesión</a></li>
        <li class="nav-item"><a href="/register" class="nav-link">Registrate</a></li>
      </ul>
    </div>
  </div>
</nav>

<div class="hero-wrap js-fullheight" style="background-image: url('assets/images/bg_2.jpg');" data-stellar-background-ratio="0.5">
  <div class="overlay">
    <div class="container">
      <div class="row no-gutters slider-text js-fullheight align-items-center justify-content-start" >
        <h1>MAE's Barbería - Conózcanos</h1>
      </div>
    </div>
  </div>
</div>

<section class="ftco-section">
  <div class="container">
    <div class="row justify-content-center mb-4">
      <div class="col-md-7 heading-section  text-center">
        <h2 class="mb-4">Bienvenido a <span>Mae's </span>Barbería</h2>
        <p class="flip"><span class="deg1"></span><span class="deg2"></span><span class="deg3"></span></p>
      </div>
    </div>
    <div class="row justify-content-center">
      <div class="col-md-8 text-center">
        <p>Somos una Barbería y Peluquería Masculina.</p>
        <p>Ponemos a su disposición la venta de productos de alta calidad para caballeros.</p>
      </div>
    </div>
  </div>
</section>


<section class="ftco-section">
  <div class="container">
    <div class="row justify-content-center mb-4">
      <div class="col-md-7 heading-section  text-center">
        <h2 class="mb-4">Nuestra Misión</h2>
        <p class="flip"><span class="deg1"></span><span class="deg2"></span><span class="deg3"></span></p>
      </div>
    </div>
    <div class="row justify-content-center">
      <div class="col-md-8 text-center">
        <p>Ser un espacio único de bienestar, donde la imagen del hombre toma punto clave para lograr el éxito tanto personal como profesional.</p>
      </div>
    </div>
  </div>
</section>

<section class="ftco-section">
  <div class="container">
    <div class="row justify-content-center mb-4">
      <div class="col-md-7 heading-section  text-center">
        <h2 class="mb-4">Nuestra Visión</h2>
        <p class="flip"><span class="deg1"></span><span class="deg2"></span><span class="deg3"></span></p>
      </div>
    </div>
    <div class="row justify-content-center">
      <div class="col-md-8 text-center">
        <p>Que MAE’S Barbería sea reconocido a nivel nacional e internacional como un ejemplo de organización, ética y compromiso presentes en cada uno de los servicios teniendo como prioridad el trato profesional y resultados reales.</p>
      </div>
    </div>
  </div>
</section>